@boardCrossLine: 1px solid #888;
@boardOuterCrossLine: 1px solid #666;

.game {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameBoard {
  background: #f1d09f;
  background-image: linear-gradient(to bottom right, #f1d09f, #e0b87d);
  display: flex;
  .center {
    display: flex;
    flex-direction: column;
    .boardCenter {
      position: relative;
      .rowLines {
        pointer-events: none;
        position: absolute;
        padding: 15px;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .item {
          border-top: @boardCrossLine;
          width: 100%;
          &:first-child {
            border-top: @boardOuterCrossLine;
            z-index: 1;
          }
          &:last-child {
            border-top: @boardOuterCrossLine;
            z-index: 1;
          }
        }
      }
      .colLines {
        pointer-events: none;
        position: absolute;
        padding: 15px;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .item {
          border-left: @boardCrossLine;
          &:first-child {
            border-left: @boardOuterCrossLine;
            z-index: 1;
          }
          &:last-child {
            border-left: @boardOuterCrossLine;
            z-index: 1;
          }
        }
      }
      .chesses {
        .boardRow {
          .square {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            background: unset;
            border: unset;
            float: left;
            font-size: 32px;
            font-weight: bold;
            padding: 0;
            text-align: center;
            width: 32px;
            height: 32px;
            .markPoint {
              height: 8px;
              width: 8px;
              background-color: #555;
              border-radius: 50%;
            }
          }
          .chess {
            width: 24px;
            height: 24px;
            position: absolute;
            border-radius: 50%;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 10;
          }
          .chess-white {
            background: #fff;
            color: #cbb4b4;
          }
          .chess-black {
            background: #000;
            color: #9d9d9d;
          }
          .lastChess {
            background-color: #bbb;
          }
        }
      }
    }
  }
}

.game-info {
  margin-left: 20px;
}

.opbtns {
  padding: 20px;
  display: flex;
}
.opbtns button {
  margin: 0 20px;
}
